<div class="page-title">
  <div class="text">
    <h1>Carleton eggX</h1>
    <p>
      Many of us want to create something that benefits ourselves and the people around us but not many of us know how.
      We aim to make coding more approachable to all kinds of students so that everyone can come together to share their
      love for digital technology.
    </p>
  </div>
</div>
<div class="content" infiniteScroll (scrolled)="onScroll()">
  <div class="post" *ngFor="let post of posts">
    <h1 class="sm-title">{{post.title}}</h1>
    <div class="text">
      <h1 class="md-title">{{post.title}}</h1>
      <p>{{post.blurb}}</p>
      <a class="btn-inverse" href="/post/{{post._id}}">
        {{post.callToAction ? post.callToAction : 'Learn more'}}
      </a>
    </div>
    <div class="img">
      <img src="{{post.featuredImage}}" alt="Post Featured Image" />
    </div>
  </div>
  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
