@import url("../../styles/host.css");

.banner {
  display: flex;
  margin-bottom: 5%;
  align-items: center;
  overflow: hidden;
}

.banner img {
  width: 100%;
  max-height: 300px;
  object-position: left;
  object-fit: contain;
}
