<h1 class="page-title">About</h1>
<div class="content">
  <div class="banner">
    <img src="assets/about-banner.jpg" alt="eggX About Banner" />
  </div>
  <h2>Who are we?</h2>
  <p>
    eggX is the short-name of Carleton eggX.
    Well what is that?
    The Carleton eggX club gathers people who want to create something that benefits themselves and the people around
    them. Our aim is to make coding more approachable to all kinds of students and we're led by a group of students in
    various programs who've had experience writing and using software. At eggX, you'll be able to jump-start your coding
    journey. We run events and facilitate projects to help ease the
    process of building your own programming portfolio.
  </p>
  <h2>Bootstrapping students into the world of code</h2>
  <p>
    That's our tagline.
    We know that as computer science (and non-CS) majors, projects are an exceptional way to prove your experience
    in the field.
  </p>
  <p>
    That's why we've decided to foster an environment where students of all levels can come together to share their love
    for digital technology.
  </p>
  <h2>Our Plan</h2>
  <h3>Mission</h3>
  <ul>
    <li>To jump-start students in their coding journey</li>
    <li>To be known as a semester-long hackathon organizer</li>
    <li>To increase the job prospects of Carleton University graduates</li>
    <li>To teach the value of code to all students</li>
  </ul>
  <h3>Vision</h3>
  <ul>
    <li>A coding-enriched environment so well-known it increases the value of any computer science degree at Carleton
      University but particularly computer science-related degrees</li>
    <li>Carleton eggX will become a fast-track to obtaining an internship or co-op in the software field</li>
  </ul>
  <h2>Becoming a Member</h2>
  <p>We introduced the concept of membership as a way to protect the identity of people who attend our events/workshops
    and don't plan to be further involved with the club.</p>
  <p>If you're interested in participating in Projects, or you'd like to have an eggX Resume developed for you, you
    would need to be a member. Lucky for you, it's really simple! Here are the ways you can join:</p>
  <ul>
    <li><a href="https://carletoncse.typeform.com/to/fSG5ssi6">Register as a member</a> through our website</li>
    <li>Connect with us at a general event or seminar</li>
  </ul>
  <p>Participation as a member is completely free, with no exceptions and we plan to have partnerships with several
    technology companies that operate in the Ottawa-area (talk about job prospects!)</p>
  <h2>Projects</h2>
  <p>Projects are the biggest part of each semester, they are something you don't want to miss! At the beginning of each
    semester, we hold <a href="https://eggx.io/events?event=5f485dc1b7adef47fcb11b7b">an introductory talk</a> which is
    where you'll really get to know more about what projects actuall are, you'll also be able to choose a domain and
    find teammates.</p>
  <p>To participate in projects, you will need to declare the following:</p>
  <ul>
    <li>Your teammates: you will work in teams of 4</li>
    <li>Your project's domain</li>
    <li>A project description (explained later)</li>
    <li>All projects (that follow the ground-rules) will be accepted, no question, and we will assign a mentor to your
      team. Your mentor will guide you through the process of completing your project and will lead team meetups.</li>
  </ul>
</div>

