@import url("../../styles/host.css");

label {
  text-transform: uppercase;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 6px;
}

input[type="button"] + input[type="button"] {
  margin-left: 10px;
}

.content {
  flex-direction: row;
}

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-grow: 6;
  flex-direction: column;
}

.list .event {
  display: flex;
  width: 95%;
  padding: 15px 20px;
  flex-direction: column;
  border-radius: 5px;
}

.list .event + .event {
  margin-top: 30px;
}

.list .event .bottom {
  display: flex;
  justify-content: space-between;
}

.list .event .bottom .event-type {
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.search {
  flex-grow: 4;
}

.search .form .group {
  margin-bottom: 10px;
}

.search .form .group .btn + .btn {
  margin-left: 10px;
}

.schedule {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.schedule > * + * {
  margin-left: 5px;
}

.popup .dismiss button {
  display: inline-flex;
  width: 20%;
  justify-content: center;
  font-size: 16px;
}
