@import url("../../styles/host.css");

label {
  text-transform: uppercase;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 6px;
}

input[type="button"] + input[type="button"] {
  margin-left: 10px;
}

@media only screen and (min-width: 760px) {
  .content {
    flex-direction: row;
  }
}

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-grow: 6;
  order: 2;
  flex-direction: column;
  flex-wrap: wrap;
}

.list .event {
  display: flex;
  width: 95%;
  max-width: 1000px;
  padding: 0.9375rem 1.25rem;
  flex-direction: column;
  border-radius: 0.3125rem;
}

.list .event + .event {
  margin-top: 1.875rem;
}

.list .event .schedule {
  display: flex;
  margin-bottom: 0.9375rem;
  align-items: center;
}

.list .event .schedule > * + * {
  margin-left: 0.3125rem;
}

.list .event .bottom {
  display: flex;
  justify-content: space-between;
}

.list .event .bottom .event-type {
  display: flex;
  margin-right: 10px;
  font-size: 0.875rem;
  text-transform: uppercase;
  align-items: center;
}

@media only screen and (min-width: 760px) {
  .list {
    order: 1;
  }
}

.search {
  flex-grow: 4;
  margin-bottom: 20px;
  padding: 6px;
  order: 1;
}

.search .form .group {
  margin-bottom: 10px;
}

.search .form .group .btn + .btn {
  margin-left: 10px;
}

.search .divider {
  margin-top: 20px;
}

@media only screen and (min-width: 760px) {
  .search {
    order: 2;
    padding: 0;
  }
}

.popup .dismiss button {
  display: inline-flex;
  width: 80px;
  justify-content: center;
  font-size: 1rem;
}

.popup .close {
  margin-bottom: 16px;
}

.popup .schedule {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 760px) {
  .popup .dismiss button {
    width: 20%;
  }
}
