<app-navbar></app-navbar>
<h1 class="page-title">Events</h1>
<div class="content">
  <div class="list" infiniteScroll (scrolled)="onScroll()">
    <div class="event bg-secondary-light" *ngFor="let event of events">
      <h2>{{event.title}}</h2>
      <p class="blurb">{{event.blurb}}</p>
      <div class="schedule">
        <i class="material-icons color-teal">event</i>
        <span>{{event.schedule.start | date}}</span>
        <span *ngIf="event.schedule.end != event.schedule.start">
          &mdash;
          <span>{{event.schedule.end | date}}</span>
        </span>
      </div>
      <div class="bottom">
        <button class="btn-primary" (click)="showEvent(event)">
          Show more
        </button>
        <span [ngClass]="['event-type', getEventTypeClass(event.type)]">{{event.type}}</span>
      </div>
    </div>
    <div class="loading" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="search">
    <div class="form" *ngIf="!showPopup">
      <h3>Filter events</h3>
      <label>Event Type</label>
      <div class="group">
        <input class="btn-primary" (click)="toggleTypeFilter('event')" [ngClass]="{'pressed': typeIsFiltered('event')}" type="button" value="General" />
        <input class="btn-primary" (click)="toggleTypeFilter('sponsored')" [ngClass]="{'pressed': typeIsFiltered('sponsored')}" type="button" value="Sponsored" />
        <input class="btn-primary" (click)="toggleTypeFilter('workshop')" [ngClass]="{'pressed': typeIsFiltered('workshop')}" type="button" value="Workshops" />
      </div>
      <label>Date</label>
      <table class="list">
        <tr class="item">
          <td><label for="dateFrom">From: </label></td>
          <td><input id="dateFrom" type="date"></td>
        </tr>
        <tr class="item">
          <td><label for="dateTo">To: </label></td>
          <td><input id="dateTo" type="date"></td>
        </tr>
      </table>
    </div>
    <!--
      type
      schedule
      people
     -->
  </div>
</div>
<div id="infoPopup" (click)="hideEvent()" class="popup" *ngIf="showPopup">
  <div class="info-popup" (click)="$event.stopPropagation()">
    <div class="body" *ngIf="!loading">
      <div class="header">
        <div class="title">
          <h1>{{popupEvent.title}}</h1>
          <div class="schedule">
            <i class="material-icons color-teal">event</i>
            <span>{{popupEvent.schedule.start | date}}</span>
            <span *ngIf="popupEvent.schedule.end != popupEvent.schedule.start">
              &mdash;
              <span>{{popupEvent.schedule.end | date}}</span>
            </span>
          </div>
        </div>
        <button class="btn-primary" (click)="hideEvent()">
          <i class="material-icons">close</i>
          Close
        </button>
      </div>
      <markdown class="text" [data]="popupEvent.description"></markdown>
    </div>
    <div class="body loading" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="dismiss">
    <button class="btn-inverse" (click)="hideEvent()">Close</button>
  </div>
</div>
<app-footer></app-footer>
