<app-navbar></app-navbar>

<h1 class="page-title">Resources</h1>
<div class="content">
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositoriesGitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositoriesGitHub repositoriesGitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositoriesGitHub repositoriesGitHub repositoriesGitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
  <div class="resource">
    <img src="assets/github_mark.svg" />
    <div class="text">
      <h3>GitHub repositories</h3>
      <p>
        Manual (help)<br/>
        Frontend (this website)<br/>
        Api (backend server)<br/>
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
