<app-navbar></app-navbar>

<h1 class="page-title">Projects</h1>
<div class="content">
  <div class="filter">
    <h3>Filter:</h3>
  </div>
  <div class="projects">
    <a href="/project/{{project._id}}" *ngFor="let project of projects$ | async">
      <div class="project drop-shadow-light">
        <div class="img bg-secondary">
          <img src="{{project.featuredImage}}" *ngIf="project.featuredImage" />
          <i class="material-icons" *ngIf="!project.featuredImage">code</i>
        </div>
        <h2>{{project.name}}</h2>
        <span class="people">
          <i class="material-icons">people</i>
          {{project.team.members.length > 1 ? project.team.members.length + 'people' : '1 person'}}
        </span>
        <h3>{{project.domain}}</h3>
      </div>
    </a>
  </div>
</div>

<app-footer></app-footer>
