<h1 class="page-title">Projects</h1>
<div class="content">
  <h2 class="color-orange">Note: You may not view project details from this site at the moment</h2>
  <div class="filter">
    <h3>Filter:</h3>
  </div>
  <div class="projects" infiniteScroll (scrolled)="onScroll()">
    <a href="/project/{{project._id}}" *ngFor="let project of projects">
      <div class="project drop-shadow-light">
        <div class="img bg-secondary">
          <img src="{{project.featuredImage}}" alt="Project Featured Image" *ngIf="project.featuredImage" />
          <i class="material-icons" *ngIf="!project.featuredImage">code</i>
        </div>
        <h2>{{project.name}}</h2>
        <span class="people">
          <i class="material-icons">people</i>
          {{project.team.members.length > 1 ? project.team.members.length + 'people' : '1 person'}}
        </span>
        <h3>{{project.domain}}</h3>
      </div>
    </a>
    <div class="loading" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

