<footer>
  <div class="icons">
    <a class="img" href="https://discord.gg/D9jKXkp" target="_blank">
      <img src="assets/logos/discord-icon.svg" alt="Discord Icon" />
    </a>
    <a class="img" href="https://instagram.com/cu_eggx" target="_blank">
      <img src="assets/logos/instagram-icon.svg" alt="Instagram Icon" />
    </a>
    <a class="img" href="https://www.linkedin.com/company/29289215" target="_blank">
      <img src="assets/logos/linkedin-icon.svg" alt="LinkedIn Icon" />
    </a>
  </div>
</footer>
