<div id="navbar" class="bg-accent drop-shadow">
  <a href="/"><img src="assets/eggx-logo-text.svg"></a>
  <div class="menu">
    <a href="/about">
      <button class="btn-primary bg-accent">About</button>
    </a>
    <a href="/people">
      <button class="btn-primary bg-accent">People</button>
    </a>
    <a href="/events">
      <button class="btn-primary bg-accent">Events</button>
    </a>
    <a href="/projects">
      <button class="btn-primary bg-accent">Projects</button>
    </a>
    <a href="/resources">
      <button class="btn-primary bg-accent">Resources</button>
    </a>
  </div>
  <div class="actions">
    <i class="material-icons">person</i>
    <i class="material-icons">search</i>
  </div>
</div>
