<div id="navbar" class="bg-accent" [ngClass]="{'drop-shadow': showDropShadow}">
  <a href="/"><img src="assets/eggx-logo-text.svg"></a>
  <div class="menu">
    <a href="/about" class="btn btn-primary btn-accent">
      About
    </a>
    <a href="/people" class="btn btn-primary btn-accent">
      People
    </a>
    <a href="/events" class="btn btn-primary btn-accent">
      Events
    </a>
    <a href="/projects" class="btn btn-primary btn-accent">
      Projects
    </a>
    <a href="/resources" class="btn btn-primary btn-accent">
      Resources
    </a>
  </div>
  <div class="actions">
    <i class="material-icons">person</i>
    <i class="material-icons">search</i>
  </div>
</div>
