<div id="navbar" class="bg-accent" [ngClass]="{'drop-shadow': showDropShadow}">
  <a href="/"><img src="assets/eggx-logo-text.svg"></a>
  <div class="menu">
    <a href="{{item.href}}" class="btn btn-accent" *ngFor="let item of menuItems">
      {{item.name}}
    </a>
  </div>
  <div class="actions">
    <a href="https://carletoncse.typeform.com/to/fSG5ssi6" class="btn btn-accent">
      <i class="material-icons">add</i>
      Join
    </a>
    <!-- <i class="material-icons">search</i> -->
    <a class="menu-icon btn btn-accent" (click)="menuOpen = true">
      <i class="material-icons">menu</i>
      Menu
    </a>
  </div>
  <div class="small-menu bg-primary" [ngClass]="{'open': menuOpen}">
    <div class="close">
      <div class="btn btn-primary" (click)="menuOpen = false">
        <i class="material-icons">close</i>
        close
      </div>
    </div>
    <div class="item" *ngFor="let item of menuItems; last as isLast">
      <a href="{{item.href}}" class="btn">{{item.name}}</a>
      <div class="divider" *ngIf="!isLast"></div>
    </div>
  </div>
</div>
