@import url("../../styles/host.css");

.page-title {
  display: flex;
  flex-grow: 2;
  margin-bottom: 0;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/forest.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto;
}

.page-title span {
  padding: 6px 7px;
  font-family: "Montserrat", "Gotham Bold", sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--drop-shadow-top-light);
}
