@import url("../../styles/host.css");

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.groups {
  display: inline-flex;
  margin-bottom: 25px;
  margin-left: 20px;
}

.groups .group {
  display: inline-flex;
}

.groups .group span {
  cursor: pointer;
}

.person {
  display: flex;
  width: 100%;
  padding: 15px 20px;
  flex-direction: column;
}

.person:hover {
  background-color: var(--bg-secondary);
}

.person + .person {
  margin-top: 25px;
}

.person .sm-name, .person .sm-title {
  order: 1;
}

.person .md-name, .person .md-title {
  display: none;
}

.person .img {
  width: 100%;
  margin: 15px 0 20px 0;
  padding: 0 5% 0 5%;
  order: 2;
}

.person .img img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.person .text {
  display: flex;
  flex-grow: 1;
  order: 3;
  flex-direction: column;
}

@media only screen and (min-width: 760px) {
  .person {
    box-sizing: content-box;
    width: 95%;
    min-height: 100px;
    flex-direction: row;
  }

  .person + .person {
    margin-top: 15px;
  }

  .person .img {
    min-width: 100px;
    max-width: 100px;
    margin: 0 25px 0;
    padding: 0;
  }

  .person .sm-name, .person .sm-title {
    display: none;
  }

  .person .md-name, .person .md-title {
    display: unset;
  }

  .person .text {
    padding-top: 5px;
  }
}

@media only screen and (min-width: 1080px) {
  .person {
    width: 85%;
  }
}
