@import url("../../styles/host.css");

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.groups {
  display: inline-flex;
  margin-bottom: 25px;
  margin-left: 20px;
}

.groups .group {
  display: inline-flex;
}

.groups .group span {
  cursor: pointer;
}

.person {
  display: flex;
  width: 100%;
  padding: 15px 20px;
  flex-direction: column;
}

.person:hover {
  background-color: var(--bg-secondary);
}

.person + .person {
  margin-top: 25px;
}

.person .sm-name {
  order: 1;
}

.person .md-name {
  display: none;
}

.person img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  order: 2;
  object-fit: contain;
  object-position: center;
}

.person .text {
  display: flex;
  flex-grow: 1;
  order: 3;
  flex-direction: column;
}

@media only screen and (min-width: 760px) {
  .person {
    box-sizing: content-box;
    width: 75%;
    height: 100px;
    flex-direction: row;
  }

  .person + .person {
    margin-top: 15px;
  }

  .person img {
    width: 100px;
    margin: 0 10px 0;
  }

  .person .sm-name {
    display: none;
  }

  .person .md-name {
    display: unset;
  }

  .person .text {
    padding-top: 5px;
  }
}
