*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Navigation bar css*/

header{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}
.logo-container,.nav-links,.search, .profile{
    display: flex;
}
.logo-container{
    flex: 1;
}
nav{
    flex: 1;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    margin: auto;
    text-decoration: none;
    font-size: 14;
}
.search{
    flex: 1;
    justify-content: flex-end;; 
}
.profile{
    flex: 1;
    justify-content: flex-end;
}


/* Page css code*/

.page{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-clip: border-box;
}


p{
    width: 60%;
    margin: auto;
    background: lightsteelblue;
}

h1{
    font-size: 48pt;
}


.title{
    width: 60%;
    margin: auto;
    display: flex;
}

.pageTitle{
    background:#FFD600;
}